/* chooser.css */

@font-face {
    font-family: 'ComfortaaRegular';
    src: url('fonts/Comfortaa_Regular-webfont.eot');
    src: url('fonts/Comfortaa_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Comfortaa_Regular-webfont.woff') format('woff'),
         url('fonts/Comfortaa_Regular-webfont.ttf') format('truetype'),
         url('fonts/Comfortaa_Regular-webfont.svg#ComfortaaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
    text-align: center;
}

hr {
    background-color: #1e1e1e;
    border-color: #1e1e1e;
}

.chooser {
    background-color: #7c7c7c;
    font-family: 'ComfortaaRegular';
    color: #2121ec;
    position: absolute;
    top: 50px;
    font-size: 1.5em;
    display: inline-block;
}

.hidden {    
    visibility: hidden;
}

.visible {
    visibility: visible;
    
}

button {
    background-color: #646464;
    border: 1px solid #555555;
    display: inline-block;
    margin: 10px;
    margin-top: 0;
/*    font-family: sans;*/
}

button:hover {
    background-color: #979797;
}

li {
    display: block;
}

li:hover {
    background-color: #3f3f3f;
}

ul {
    list-style-type: none;
    background-color: #1e1e1e;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    
}
